body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #545454;
}

a {color: #333;}

h1{font-size: 25px !important;}
h2{font-size: 18px !important;}
h3{font-size: 16px !important;}
h4{font-size: 15px !important;}

section{margin-bottom:30px; position:relative;}

.more-link{position:absolute; top:5px; right:10px;}

h2.headline{
	border-bottom: 1px solid #d4d4d4;
    font-size: 18px;
    line-height: 27px;
    color: #545454;
    padding-bottom: 10px;
}

.newcontent img{max-width:100% !important;}
.newcontent a{color:#f93b81; font-weight: bold;}

.navbar-dark .navbar-brand{
    color: #ffeb3b !important;
}

.media{margin-bottom:15px;}

img.side-banner{margin-bottom:10px;}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 30px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
