body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #545454;
}

h1{font-size: 25px !important;}
h2{font-size: 18px !important;}
h3{font-size: 16px !important;}
h4{font-size: 15px !important;}

section{margin-bottom:30px;}

h2.headline{
	border-bottom: 1px solid #d4d4d4;
    font-size: 18px;
    line-height: 27px;
    color: #545454;
    padding-bottom: 10px;
}

.newcontent img{max-width:100% !important;}
.navbar-dark .navbar-brand{
    color: #ffeb3b !important;
}

.media{margin-bottom:10px;}
