/* text responsive */
@media screen and (max-width: 568px) {
    h3 {font-size:12px !important;line-height:12px !important; margin:5px 0 0 0 !important; height:35px !important;}
    .thumbnail .caption{padding:0px !important; overflow:hidden !important;}
    body .small.awesome, body .small.awesome:visited {font-size: 8.844px!important; padding: 2px 4px;}
}


body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.error{color:red;font-size:12px;font-style:italic;}
.red{color:red;}
/*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/
 
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.jumbotron{/*background:url('images/sticker/cherrycoco/256.png') #eee no-repeat bottom right; background-size: 108px;*/}

/************ friend ************/
h2{padding: 0 12px 2px;border-bottom: 1px solid #6fa429;font-size: 20px;color: #6fa429;}
#friend .item{padding: 14px 12px 22px;border-bottom: 1px solid #6fa429;}
#friend p.date{font-size: 12px;}
#friend h3{margin:-5px 0 5px 0; font-size: 14px !important; font-weight: bold;}
#friend .noimg{margin-right: 35px !important;margin-left: 35px;margin-top: 15px;margin-bottom:10px;}
#friend .image{float: left;margin-right:5px;}
#friend input{border: 1px solid #6fa429;background: #efefef; width: 150px; display: inline !important;}
#friend .idBox{padding: 0 0 16px; margin-top:-10px;}
#friend ul li{padding-left: 0px;}

/************ sticker ************/
#sticker section{padding:0 0 30px 0}
#sticker h3{word-wrap: break-word; height:78px; overflow: hidden;}

#sticker_view h1{margin-top:-10px;}

/************ footer ************/
#footer-back-to-top.offscreen {
bottom: -100px;
-moz-transition-duration: 250ms;
-webkit-transition-duration: 250ms;
}
#footer-back-to-top {
cursor: pointer;
position: fixed;
background-color: #EEE;
z-index: 9999;
display: block;
color: #222;
text-align: center;
font-size: 13px;
border: 1px solid #BBB;
box-shadow: 0 0 0 1px white inset, 0 1px 4px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 4px rgba(0,0,0,.2);
-webkit-box-shadow: 0 0 0 1px white inset, 0 1px 4px rgba(0, 0, 0, .2);
right: 15px;
bottom: -10px;
width: 72px;
padding: 15px 10px 25px;
-moz-transition: bottom 250ms ease-in-out;
-webkit-transition: bottom 250ms ease-in-out;
border-radius: 5px 5px 0 0;
text-shadow: 0 1px white;
line-height:16px;
}
#footer-back-to-top:hover{text-decoration:none;}

/************** pagination ****************/
body .pagination span,.pagination a{padding:5px;}

body div.pagination{
    text-align:center !important;
    margin: 10px 0 0 0;
}

body div.pagination a,div.pagination span{
    margin:0 5px;
    padding:3px 12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color:#444444 !important;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    line-height:20px;
    display:inline-block;
    background:url(../../../media/css/images/white_button.png) repeat-x bottom left;
    border:1px solid #CCCCCC;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
}


body div.pagination span.current,div.pagination a:hover{
    color:#FFFFFF !important;
    background-color:#5D9ADF;
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(80,146,220)),
    color-stop(0.8, rgb(107,163,226))
    );
    background: -moz-linear-gradient(
    center bottom,
    rgb(80,146,220) 20%,
    rgb(107,163,226) 80%
    );
    border:1px solid #266DBB;
    text-shadow:-1px -1px 1px #266DBB;
}


/* --------------------------------------------------------------------------------------------------------------------------- */
    /*  12. AWESOME BUTTONS   */
    /* --------------------------------------------------------------------------------------------------------------------------- */
    
    .awesome,
    .awesome:visited{
        background: #222;
        display: inline-block;
        padding: 5px 10px 6px;
        color: #fff;
        text-decoration: none;
        border-radius:9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
        border-bottom: 1px solid rgba(0,0,0,0.25);
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        behavior: url(media/css/css3pie/PIE.htc);
    }
    .awesome:hover{
        background-color: #111;
        color: #fff;
    }
    .awesome:active{ top: 1px }
    .small.awesome,
    .small.awesome:visited {
        font-size: 10.844px!important;
        padding: 3px 9px;
    }
    .awesome,
    .awesome:visited,
    .medium.awesome,
    .medium.awesome:visited{
        font-size: 13px;
        font-weight: bold;
        line-height: 1;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    }
    .large.awesome,
    .large.awesome:visited{
        font-size: 14px;
        padding: 8px 14px 9px;
    }
    .green.awesome,
    .green.awesome:visited{ background-color: #91bd09 }
    .green.awesome:hover{ background-color: #749a02 }
    .blue.awesome,
    .blue.awesome:visited{ background-color: #2daebf }
    .blue.awesome:hover{ background-color: #007d9a }
    .red.awesome,
    .red.awesome:visited{ background-color: #e33100 }
    .red.awesome:hover{ background-color: #872300 }
    .magenta.awesome,
    .magenta.awesome:visited{ background-color: #a9014b }
    .magenta.awesome:hover{ background-color: #630030 }
    .orange.awesome,
    .orange.awesome:visited{ background-color: #ff5c00 }
    .orange.awesome:hover{ background-color: #d45500 }
    .yellow.awesome,
    .yellow.awesome:visited{ background-color: #ffb515 }
    .yellow.awesome:hover{ background-color: #fc9200 }
    .black.awesome,
    .black.awesome:visited{ background-color: #333 }
    .black.awesome:hover{ background-color: #000 }
    .grey.awesome,
    .grey.awesome:visited {
        background-color: #f2f2f2;
        color: #444;
        text-shadow: none;
    }
    .grey.awesome:hover{ background-color: #ddd }
    .purple.awesome,
    .purple.awesome:visited{ background-color: #371a93 }
    .purple.awesome:hover{ background-color: #1a0168 }
    .brown.awesome,
    .brown.awesome:visited{ background-color: #6b2c38 }
    .brown.awesome:hover{ background-color: #460914 }
    table.table-standard{
        border: 1px #ddd solid;
        font-size: 11px;
        width: 100%;
        margin-bottom: 10px;
    }